@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Baloo Thambi 2', cursive;
}

body {
  position: relative;
  background-color: #ffe600;
}

body:before {
  content: "";
  width: 100%;
  position: absolute;
  top: -8%;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../images/js-ts.jpg");
  background-size: contain;
  background-attachment: fixed;
  z-index: -1;
  opacity: .1;
}

.home {
  margin-top: 20vh;
}

.home header {
  color: #555555;
}

.home header .section {
  width: 50vw;
  height: 35vh;
  margin: 0 3vh;
  font-size: 1.4em;
  padding: 1vh 3vw;
}

.home header .section.two {
  float: right;
  width: 30vw;
  height: 45vh;
}

.home header .section.two .js-logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5vh 0;
  font-size: 12vw;
  text-align: center;
  border: 5px solid #555555;
}

.home header .section.three {
  margin-top: 5vh;
  height: 40vh;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.3vh;
  padding: 0;
  margin-left: 4vw;
  border: 6px solid yellow;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.home header .section.three p {
  margin: 5px 0;
}

.home header .section.three .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6e6e6e;
  padding: 2vh 3vw;
  border: 4px solid white;
  color: gold;
}

.home header .section.three .card.right {
  padding-right: 5vw;
  -webkit-transform: translate(-2vw, 2vh);
          transform: translate(-2vw, 2vh);
}

.home header .section.three .card.left {
  -webkit-transform: translate(-5vw, -40px);
          transform: translate(-5vw, -40px);
}

.home main .section {
  background-color: #555555;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home main .section.one {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.home main .section.one .text h1 {
  font-weight: 100;
  padding-top: 2vh;
  color: yellow;
}

.home main .section.one .text ul {
  padding-left: 18px;
}

.home main .section.one .image div {
  position: relative;
  border: 5px solid white;
}

.home main .section.one .image div span {
  display: block;
  width: 28vw;
  height: 19vw;
  background-position: center !important;
}

.home main .section.one .image div p {
  position: absolute;
  top: 50%;
  left: -30%;
  background-color: #555555;
  color: whitesmoke;
  padding: 9px 6px;
  width: 70%;
  border: 3px solid white;
  text-align: center;
}

.home main .section.one .image div:nth-child(1) {
  -webkit-transform: translate(40px, 65px);
          transform: translate(40px, 65px);
  z-index: 2;
}

.home main .section.one .image div:nth-child(1) span {
  background: url("../../images/books.jpg");
  background-size: cover;
}

.home main .section.one .image div:nth-child(2) {
  -webkit-transform: translate(-40px, 30px);
          transform: translate(-40px, 30px);
  z-index: 1;
}

.home main .section.one .image div:nth-child(2) span {
  background: url("../../images/codes.jpg");
  background-size: cover;
}

.home main .section.one .image div:nth-child(3) {
  -webkit-transform: translate(40px, -20px);
          transform: translate(40px, -20px);
}

.home main .section.one .image div:nth-child(3) span {
  background: url("../../images/solve.jpg");
  background-size: cover;
}

.home main .section.two {
  height: 70vh;
  background-color: transparent;
}

.home main .section.three {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home main .section.three div {
  height: 210px;
  margin: 10px;
  position: relative;
  border: 3px solid white;
  background-color: white;
}

.home main .section.three div:hover {
  cursor: pointer;
}

.home main .section.three div p {
  color: #555555;
  text-align: center;
  margin-top: 5px;
}

.home main .section.three div span {
  display: block;
  width: 300px;
  height: 170px;
}

.home main .section.three div:nth-child(1) span {
  background: url("../../images/yt-1.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(2) span {
  background: url("../../images/yt-2.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(3) span {
  background: url("../../images/yt-3.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(4) span {
  background: url("../../images/yt-4.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(5) span {
  background: url("../../images/yt-5.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(6) span {
  background: url("../../images/yt-6.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(7) span {
  background: url("../../images/yt-7.jpg");
  background-size: contain;
}

.home main .section.three div:nth-child(8) span {
  background: url("../../images/yt-8.jpg");
  background-size: contain;
}
/*# sourceMappingURL=home.css.map */