@import '../vars/vars.scss';

.home {
    margin-top: 25vh;
    height: 200vh;

    header {
        
        .section {
            width: 65vw;
            height: 45vh;
            background-color: yellow;
            margin-top: 5vh;
            clear: both;
        }
        .two, .four{
            float: right;
            background-color: rgb(70, 70, 70);
        }
    }
}